<a href="https://colab.research.google.com/github/MahEUrooj/For-loop/blob/main/For_loop_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cars=['bmw','audi','toyota','honda']
cars[:]
for car in reversed(cars):
  print(car)
print("loop completed")

honda
toyota
audi
bmw
loop completed

In [ ]:
vege=["spinach","ladyfinger","potato","onion","beetroot"]
vege.reverse()
vege[:]

['beetroot', 'onion', 'potato', 'ladyfinger', 'spinach']

In [ ]:
fruits=['pineapple','blue-berry','strawberry','banana']
fruits.reverse()
for fruit in fruits:
  print(fruit)

banana
strawberry
blue-berry
pineapple

In [ ]:
squares=[]
for value in range (1,11):
  squares.append(value**2)
  print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
numb=[]
for value in range(1,11):
  numb.append(value)
  print(numb)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
[2*i for i in range (1,6)]

[2, 4, 6, 8, 10]

In [ ]:
v=[2 for i in range (1,6)]
print(v)

[2, 2, 2, 2, 2]

In [ ]:
squares=[value**2 for value in range (1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
for i in range(5):
  print("IOT")

IOT
IOT
IOT
IOT
IOT

In [ ]:
for i in range(3,5):
  print("IOT")

IOT
IOT

In [ ]:
for i in range(3,5):
  print(i)

3
4

In [ ]:
for i in range(0,7):
  print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(2,5):
  print('Tulip')

Tulip
Tulip
Tulip

In [ ]:
for i in range(1,5):
  print("Technology")

Technology
Technology
Technology
Technology

In [ ]:
for i in range(4):
  print('*')

*
*
*
*

In [ ]:
for i in range(7,13):
  print('Scientist')

Scientist
Scientist
Scientist
Scientist
Scientist
Scientist

In [ ]:
for i in range(3,7):
  print('***Scientific\t Discovery***')

***Scientific	 Discovery***
***Scientific	 Discovery***
***Scientific	 Discovery***
***Scientific	 Discovery***

In [ ]:
for i in range(3,10,2):
  print(i)

3
5
7
9

In [ ]:
for i in range(5,55,5):
  print("Multiple of 5 is:",i)

Multiple of 5 is: 5
Multiple of 5 is: 10
Multiple of 5 is: 15
Multiple of 5 is: 20
Multiple of 5 is: 25
Multiple of 5 is: 30
Multiple of 5 is: 35
Multiple of 5 is: 40
Multiple of 5 is: 45
Multiple of 5 is: 50

In [ ]:
for i in range(9,1,-2):
  print(i)

9
7
5
3

In [ ]:
for i in range(9,2,-2):
  print(i)

9
7
5
3

In [ ]:
for i in range(30,3,-3):
  print("Multiple of 3",i)

Multiple of 3 30
Multiple of 3 27
Multiple of 3 24
Multiple of 3 21
Multiple of 3 18
Multiple of 3 15
Multiple of 3 12
Multiple of 3 9
Multiple of 3 6

In [ ]:
num=int(input("Enter any number"))
for i in range(1,11):
  print(num, "x",i,"=",num*i)

Enter any number15
15 x  1 = 15
15 x  2 = 30
15 x  3 = 45
15 x  4 = 60
15 x  5 = 75
15 x  6 = 90
15 x  7 = 105
15 x  8 = 120
15 x  9 = 135
15 x  10 = 150

In [ ]:
for i in range(1,11):
  print("2 x ",i,"=",2*i)

2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x  10 = 20

In [ ]:
l1=[]
l1=[x for x in range (11)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
zero_list=[]
zero_list=[0 for x in range (5)]
print(zero_list)

[0, 0, 0, 0, 0]

In [ ]:
squares=[]
squares=[value**2 for value in range(8)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49]

In [ ]:
my_foods=['pizza','falafel','carrot cake']
friend_foods=my_foods[:]
print('My favorite foods are')
print(friend_foods)
my_foods.append('cannoli')
friend_foods.append('icecream')
print('Now my favorite foods are')
print(my_foods)
print('Now, my friend favorite foods are')
print(friend_foods)

My favorite foods are
['pizza', 'falafel', 'carrot cake']
Now my favorite foods are
['pizza', 'falafel', 'carrot cake', 'cannoli']
Now, my friend favorite foods are
['pizza', 'falafel', 'carrot cake', 'icecream']

In [ ]:
my_foods=['pizza','falafel','carrot cake']
friend_foods=my_foods
print('My favorite foods are')
print(friend_foods)
my_foods.append('cannoli')
friend_foods.append('icecream')
print('Now my favorite foods are')
print(my_foods)
print('Now, my friend favorite foods are')
print(friend_foods)

My favorite foods are
['pizza', 'falafel', 'carrot cake']
Now my favorite foods are
['pizza', 'falafel', 'carrot cake', 'cannoli', 'icecream']
Now, my friend favorite foods are
['pizza', 'falafel', 'carrot cake', 'cannoli', 'icecream']

In [ ]:
cars=['audi','bmw','honda','toyota']
for car in cars:
  if car=='bmw':
    print(car.upper())
    
  else:
    print(car.title())

Audi
BMW
Honda
Toyota

In [ ]:
age_1=22
age_2=18
print((age_1>=21) and (age_2>=21))

False

In [ ]:
age_1=22
age_2=18
print((age_1>=21) and (age_2<=21))

True

In [ ]:
age_1=22
age_2=18
print((age_1<21) or (age_2>=21))

False

In [ ]:
age=12
if age<4:
  price=1000
elif age<18:
  price=2000
elif age<65:
  price=3000
else:
  price=4000
print("Your admission cost is $ "+ str (price) + ".")

Your admission cost is $ 2000.

In [13]:
cleanest_cities=['Murree','Karachi','Lahore']
city_to_check=input("Enter city name: ")
for i in cleanest_cities:
  if city_to_check == i:
    print(i, "is one of the cleanest cities.")
  else:
    print(i, "is not a clean city.")

Enter city name: Murree
Murree is one of the cleanest cities.
Karachi is not a clean city.
Lahore is not a clean city.

In [14]:
cleanest_cities=['Murree','Karachi','Lahore']
city_to_check=input("Enter city name: ")
for i in cleanest_cities:
  if city_to_check == i:
    print(i, "is one of the cleanest cities.")
    break
  else:
    print(i, "is not a clean city.")
    pass

Enter city name: Murree
Murree is one of the cleanest cities.